
{% extends "layouts/base.njk" %}

{% block content %}
{% for note in collections.cqjaOrdered %}
  {% if note.url == page.url %}
    {% set currentIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% set number = currentIndex + 1 %}

<p class="cqja-number">CQJA #{{ number }}</p>

<h1>{{ title }}</h1>

<p><small>{{ date | date("yyyy-MM-dd") }}</small></p>

{{ content | safe }}

<hr>

<nav class="cqja-nav" aria-label="Navigation entre les notes">
  {% set prev = collections.cqjaOrdered[currentIndex - 1] %}
  {% set next = collections.cqjaOrdered[currentIndex + 1] %}

  <div>
    {% if prev %}
      ← <a href="{{ prev.url }}">Précédent</a>
    {% endif %}
  </div>

  <div>
    {% if next %}
      <a href="{{ next.url }}">Suivant</a> →
    {% endif %}
  </div>
</nav>
{% endblock %}
